#google_search_box{
	width:300px;
	float:left;
	margin-left:23%;
	padding-top:15px;
}
.glyphicon {
	font-size: 18px;
	z-index: 20;
	cursor: pointer;
}

.glyphicon-search{
	position: relative;
	right: -270px;
	top: -27px;
}