#shout_box_container{
    width: 100%;
    text-align: center;
    margin: auto;
}

.shout_box {
	margin-top:110px;
}

#shout_box_input{
	background-color: transparent;
	border:0px;
	font-size: 20px;
	color:white;
	font-style: italic;
}

.locator {
	top: -25px;
    left: 290px;
}