#shout_box_container{
	margin-top:-200px;
    width: 40%;
    text-align: center;
    margin: auto;
}

.shout_box {
	margin-top:-130px;
}

#shout_box_input{
	background-color: rgba(132, 122, 122, 0.50);
	font-size: 20px;
	color:white;
}

.locator {
	top: -25px;
    left: 290px;
}