#tiles_box{margin-top:-40px;}

.tile {
    height: 120px;
    width: 120px;
    overflow: hidden;
    display: inline-block;
    color: white;
    margin: 10px;
    font-weight: bold;
    border: solid white 2px;
    border-radius: 7px;
    box-shadow: 3px 3px 16px grey;
}

.tile:hover {
    background-color: #003854 !important;
}

.tileList {
    max-height: 420px;
    width: 570px;
    margin: auto;
}


#tileTitle {
    color:#006DAB;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}